<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head">
    <title>Home</title>
</head>
<body>
<div id="wrapper">
    <div th:include="layout :: menu"></div>
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div th:include="layout :: top"></div>

        <div th:include="layout :: footer"></div>
    </div>
</div>
<input th:type="hidden" th:id="loginFlg" th:value="${loginFlg}" />
<div th:include="layout :: includeJs"></div>

<script>
    $(document).ready(function () {
        var loginFlg = $('#loginFlg').val();
        if('first' == loginFlg){
            setTimeout(function () {
                toastr.options = {
                    closeButton: true,
                    progressBar: true,
                    showMethod: 'slideDown',
                    timeOut: 1000
                };
                toastr.success('登录成功', '欢迎使用GPLucky');
                $('#loginFlg').val('');
            }, 500);
        }
    })
</script>
</body>
</html>