<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{../bootstrap/css/bootstrap.css}" rel="stylesheet"/>
    <title>Title</title>
</head>
<body>
页面跳转：
<table>
    <tr>
        <td><button type="button" class="btn btn-large btn-primary btn-block"><a th:href="@{/up/list.html}">连涨页</a></button></td>
    </tr>
</table>
任务执行：
<table>
    <tr>
        <td><button type="button" class="btn btn-large btn-primary btn-block">基础数据补偿</button></td>
    </tr>
</table>
</body>
</html>